@model IEnumerable<CinePreview.Data.Entidades.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Peliculas", new { id = 0 }, Context.Request.Scheme)' ,
    'Agregar Pelicula')" class="btn btn-outline-primary"> <i class="fa fa-plus"></i> </a>
</p>

<div class=" row">
    <div class="col-md-12">
        <div class=" panel panel-default">
            <div class=" panel-heading">
                <h3 class=" panel-tittle">Peliculas</h3>
            </div>
            <div class=" panel-body">
                <table class="table table-hover table responsive table stripped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Duracion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaEstreno)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genero.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Duracion)
                                </td>
                                <td>
                                    @item.FechaEstreno.Date.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("Edit", "Peliculas", new { id = item.Id }, Context.Request.Scheme)' ,
                    'Actualizar Pelicula')" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
                                    <button data-id="@item.Id" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal"
                                            data-bs-target="#deleteDialog">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_VistaModal" />
<partial name="_VistaBorrar" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [5, 10, 20, 50, -1],
                    [5, 10, 20, 50, "Todos"]
                ]
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Peliculas/Delete/', false);
    </script>
}