@model IEnumerable<CinePreview.Data.Entidades.Genero>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<p>
    <a onclick="showInPopup('@Url.Action("Create", "Generos", new { id = 0 }, Context.Request.Scheme)' ,
    'Agregar Genero')" class="btn btn-outline-primary"> Agregar Genero</a>
</p>

<div class=" row">
    <div class="col-md-12">
        <div class=" panel panel-default">
            <div class=" panel-heading">
                <h3 class=" panel-tittle">Generos</h3>
            </div>
            <div class=" panel-body">
                <table class="table table-hover table responsive table stripped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("Edit", "Generos", new { id = item.Id }, Context.Request.Scheme)' ,
                    'Actualizar Genero')" class="btn btn-outline-warning">Editar</a>
                                    <button data-id="@item.Id" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal"
                                            data-bs-target="#deleteDialog">
                                        Borrar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_VistaModal" />
<partial name="_VistaBorrar" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [5, 10, 20, 50, -1],
                    [5, 10, 20, 50, "Todos"]
                ]
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Generos/Delete/', false);
    </script>
}